%h2.text-center
  %span.nobreak Welcome to the
  %span.nobreak Cascade 6th Ward Choir's
  %span.nobreak Web Archive
%p{style: "margin-bottom: 20px;"}
  Here you can find music planned for the Cascade Sixth Ward Choir's upcoming
  performances, listen to individualized parts, print off sheet music, and 
  listen to past performances and rehearsals.
.row
  .col-sm-5.col-sm-push-7.col-md-4.col-md-push-8.col-lg-3.col-lg-push-9
    .performance-block
      %strong Next Performance:
      -unless @performance.blank?
        %span.date= @performance.date.strftime("%m/%d/%Y")
        -@performance.songs.each do |song|
          =link_to music_path(song.slug), class: "secondary" do
            %h2= song.title
          -unless song.primary_instrument.blank?
            %audio{:controls => "controls",
                   :controlsList => "nodownload"}
              %source{:type => song.primary_instrument.mp3_content_type,
                      :src => song.primary_instrument.mp3.url }
      -else
        %p
          There are no scheduled peformances at this time.
      .clearfix
        =link_to music_index_path, class: "pull-right" do
          More Music&hellip;
    .rehearsal-block
      %strong Next Rehearsal:
      %table
        %tr
          %td.text-primary= @next_rehearsal.date.strftime("%m/%d/%Y")
          %td.text-right= @next_rehearsal.host
        %tr 
          %td.text-primary= @next_rehearsal.time
          %td.text-right= @next_rehearsal.venue
      %strong Last Rehearsal:
      %table
        %tr 
          %td.text-primary= @last_rehearsal.date.strftime("%m/%d/%Y")
          %td.text-right= @last_rehearsal.song_list
      .clearfix
        =link_to rehearsals_path, class: "pull-right" do 
          More Rehearsals&hellip;
  .col-sm-7.col-sm-pull-5.col-md-8.col-md-pull-4.col-md-9.col-lg-pull-3
    .news-block
      %strong Lastest News:
      -@articles.each do |article|
        =render article
      .clearfix
        =link_to news_index_path, class: "pull-right" do 
          More News&hellip;