%h2.text-center
  %span.nobreak Welcome to the
  %span.nobreak Cascade 6th Ward Choir's
  %span.nobreak Web Archive
%p{style: "margin-bottom: 20px;"}
  Here you can find music planned for the Cascade Sixth Ward Choir's upcoming
  performances, listen to individualized parts, print off sheet music, and
  listen to past performances and rehearsals.
.row
  .col-sm-5.col-md-4.col-lg-3.order-sm-2
    .performance-block
      %strong Upcoming Performances:
      %br
      -if @performances.any?
        -@performances.each do |performance|
          %span.date= performance.date.strftime("%m/%d/%Y")
          =simple_format performance.details
          -performance.songs.each do |song|
            =link_to music_path(song.slug), class: "secondary" do
              %h2= song.title
            -unless song.primary_instrument.blank?
              -unless song.primary_instrument.mp3_blob.nil?
                %audio{:controls => "controls",
                       :controlsList => "nodownload"}
                  %source{:type => song.primary_instrument.mp3_blob.content_type,
                          :src => song.primary_instrument.mp3_blob.service_url }
          %br
      -else
        %p
          There are no scheduled peformances at this time.
      .clearfix
        =link_to music_index_path, class: "float-end" do
          More Music&hellip;
    .rehearsal-block
      %strong Next Rehearsal:
      -unless @next_rehearsal.blank?
        %table
          %tr
            %td.text-primary= @next_rehearsal.date.strftime("%m/%d/%Y")
            %td.text-end= @next_rehearsal.host
          %tr
            %td.text-primary= @next_rehearsal.time
            %td.text-end= @next_rehearsal.venue
      -else
        %p The next rehearsal has not yet been scheduled.
      %strong Last Rehearsal:
      -unless @last_rehearsal.blank?
        %table
          %tr{style: "vertical-align: top"}
            %td.text-primary= @last_rehearsal.date.strftime("%m/%d/%Y")
            %td.text-end= @last_rehearsal.song_list
        =link_to "Download",
                 @last_rehearsal.audio.url,
                 class: "btn btn-secondary btn-lg #{'disabled' unless @last_rehearsal.audio.exists? }"
      -else
        %p The last rehearsal cannot be found.
      %br
      .clearfix
        =link_to rehearsals_path, class: "float-end" do
          More Rehearsals&hellip;
  .col-sm-7.col-md-8col-lg-9.order-sm-1
    .news-block
      %strong Lastest News:
      -@articles.each do |article|
        =render article
      .clearfix
        =link_to news_index_path, class: "float-end" do
          More News&hellip;