%tr
  %td= song.performance_date.strftime("%-m/%-d/%Y")
  %td= song.title
  %td= song.instruments.count
  %td.text-right
    = link_to edit_admin_song_path(song), 
              class: "btn btn-default btn-xs",
              style: "margin-right: 5px;" do
      %span.glyphicon.glyphicon-pencil
    = link_to admin_song_path(song),
              method: :delete,
              data: { confirm: "Are you sure? This cannot be undone." },
              class: "btn btn-danger btn-xs" do 
      %span.glyphicon.glyphicon-remove