%tr
  %td= article.title
  %td= article.created_at.strftime("%m/%d/%Y")
  %td= article.status
  %td= article.list_categories
  %td= article.list_tags
  %td.text-end
    =link_to edit_admin_article_path(article),
             class: "btn btn-outline-secondary btn-xs" do
      %span.bi.bi-pencil
    &nbsp;
    =link_to admin_article_path(article),
             method: :delete,
             data: { confirm: "Are you sure?" },
             class: "btn btn-danger btn-xs" do
      %span.bi.bi-x