%h1 Messages

= form_for :all_messages, url: { action: "do_to_all" } do |f|
  =f.hidden_field :page, value: params[:page] || 1
  =f.submit "Mark as Read", class: "btn btn-sm btn-default"
  =f.submit "Mark as Unread", class: "btn btn-sm btn-default"
  =f.submit "Delete Messages", class: "btn btn-sm btn-default"
  .row
    .col-sm-12
      = datatable_table_for Message

      %table.table.table-hover
        %thead
          %tr
            %th
              %input{type: "checkbox",
                     id: "selectAll",
                     value: "selectAll" }
            %th Name
            %th Email
            %th Subject
            %th Date
        %tbody
          -@messages.each do |message|
            %tr.clickable-row{class: "#{'info' unless message.read}",
                              data: {href: admin_message_url(message) } }
              %td.checkbox-col
                = hidden_field_tag "all_messages[msgs][]", "0", id: nil
                = check_box_tag "all_messages[msgs][]",
                                message.id,
                                false,
                                id: "all_messages_msgs_" + message.id.to_s
              %td= message.name
              %td= message.email
              %td= message.subject
              %td= message.created_at.strftime("%l:%M %P - %b %-d, %Y")

:javascript
  $(document).ready(function(){
    $('.clickable-row td:not(.checkbox-col)').click(function(){
      window.location = $(this).parent().data('href');
    });
  });

  $("#selectAll").click(function() {
    if(this.checked) {
      $(':checkbox').each(function() {
        this.checked = true;
      });
    } else {
      $(':checkbox').each(function() {
        this.checked = false;
      });
    }
  });
  $("[id^=all_messages_msgs_]").click(function() {
    switch($("[id^=all_messages_msgs_]:checked").length) {
      case 0:
        $("#selectAll").prop("indeterminate", false);
        $("#selectAll").prop("checked", false);
        console.log("zero");
        break;
      case $("[id^=all_messages_msgs_]").length:
        $("#selectAll").prop("indeterminate", false);
        $("#selectAll").prop("checked", true);
        console.log("all");
        break;
      default:
        $("#selectAll").prop("indeterminate", true);
        console.log("some");
        break;
    }
  });