%h1 
  Choir Music
  %span.small
    for the Cascade 6th Ward

%ul.nav.nav-tabs
  -@years.each do |year|
    %li{:role => "presentation",
        :class => "#{ 'active' if year == @current_year }" }
      %a{:href => "?year=#{year}"}
        =year 

.row
  .col-sm-12
    .panel-group#accordion{ :role => "tablist", 
                            :aria => { :multiselectable => "true" } }
      -i = 0
      -@grouped_songs.each do |date, songs|
        -i += 1
        .panel.panel-default
          .panel-heading{ :role => "tab",
                          :id => "heading#{i}" }
            %h4.panel-title
              %a{ :class => "#{'collapsed' unless i == 1}",
                  :role => "button",
                  :data => { :toggle => "collapse", 
                             :parent => "#accordion"  },
                  :href => "#collapse#{i}",
                  :aria => { :expanded => "false", 
                             :controls => "collapse#{i}" } }
                =date.strftime("%-m/%-d/%Y")
                %span.pull-right.glyphicon.glyphicon-chevron-up
          .panel-collapse.collapse{ :class => "#{'in' if i == 1}",
                                    :id => "collapse#{i}",
                                    :role => "tabpanel",
                                    :aria => { :labelledby => "heading#{i}" } }
            .panel-body
              -songs.each_with_index do |song, index|
                %h4=song.title
                -if song.sheet_musics.any?
                  %table.table.table-condensed.table-bordered
                    %thead
                      %tr.active
                        %th.text-center{colspan: "#{song.sheet_musics.count}"}
                          Sheet Music
                      %tr
                        -song.sheet_musics.each do |sheet_music|
                          %th.text-center=sheet_music.instrument
                    %tbody
                      %tr
                        -song.sheet_musics.each do |sheet_music|
                          %td.text-center
                            =link_to sheet_music.pdf.url(:original, false), 
                                     title: sheet_music.pdf_file_name, 
                                     target: "_blank" do
                              =image_tag "pdf-icon.png", size: 24
                              PDF
                -if song.audios.any?
                  %table.table.table-condensed.table-bordered
                    %thead
                      %tr.active
                        %th.text-center{colspan: "#{song.audios.count * 2}"}
                          Audio Files
                      %tr
                        -song.audios.each do |audio|
                          %th.text-center{colspan: 2}=audio.instrument
                    %tbody
                      %tr
                        -song.audios.each do |audio|
                          %td.text-center
                            =link_to audio.midi.url(:original, false), 
                                     title: audio.midi_file_name, 
                                     target: "_blank" do
                              =image_tag "MIDI.png", size: 24
                              MIDI
                          %td.text-center
                            =link_to audio.mp3.url(:original, false),
                                     title: audio.mp3_file_name, 
                                     target: "_blank" do 
                              =image_tag "MP3.png", size: 24
                              MP3
                  -unless songs.count - (index + 1) == 0
                    %hr