-provide :title, "Music"

%ul.nav.nav-tabs.song-sorting
  %li{:role => "presentation",
      :class => "active"} 
    %a{:href => "#titletab",
       :data => { toggle: "tab" } } 
      By Title
  %li{:role => "presentation"} 
    %a{:href => "#pendingtab",
       :data => { toggle: "tab" } } 
      Upcoming Dates
  %li{:role => "presentation"} 
    %a{:href => "#historytab",
       :data => { toggle: "tab" } } 
      Performance History


%ul
  %li 
    !! By Title !!
    %ul
      -@songs_by_title.each do |letter|
        %li
          = letter[0]
          %ul
            -letter[1].each do |song|
              %li= song.sort_order
  %li 
    !! Upcoming Dates !!
    %ul
      -@songs_pending.each do |year|
        %li
          = year[0]
          %ul
            - year[1].each do |date|
              %li
                = date[0].strftime("%b")
                %ul 
                  -date[1].each do |song|
                    %li=song.sort_order
  %li 
    !! Performance History !!
    %ul
      -@song_history.each do |year|
        %li
          = year[0]
          %ul
            - year[1].each do |date|
              %li
                = date[0].strftime("%b")
                %ul 
                  -date[1].each do |song|
                    %li=song.sort_order
