-provide :title, "Music"
-provide :bg, "pexels-photo-164821.jpeg"

-tabs = [{id: "title", name: "By Title", partial: "alphabetical_sort", data: @songs_by_title, options: {prefix: "letter"}},
         {id: "pending", name: "Upcoming Dates", partial: "date_sort", data: @pending_performances, options: {tab_prefix: 'pending'}},
         {id: "history", name: "Performance History", partial: "date_sort", data: @performance_history, options: {tab_prefix: 'history'}},
         {id: "unused", name: "Unscheduled Songs", partial: "alphabetical_sort", data: @unused_songs, options: {prefix: "unused"}}]

-tab_ids = tabs.pluck(:id)
-selected_tab = params[:tab].present? && tab_ids.include?(params[:tab]) ? params[:tab] : "title"
-active_tab = "##{selected_tab}"
%p
  Below you will find a complete list of all the songs and performances of the
  Cascade Sixth Ward's Choir sorted alphabetically, by our performance history,
  and a listing of our upcoming performance dates with the songs we will be
  singing.

%ul.nav.nav-tabs.song-sorting
  - tabs.each do |tab|
    %li.nav-item
      = link_to tab[:name],
                "##{tab[:id]}",
                class: "nav-link #{active_tab == "##{tab[:id]}" ? 'active' : ''}",
                data: {'bs-toggle': "tab"},
                aria: {controls: tab[:id]}

.tab-content
  - tabs.each do |tab|
    .tab-pane.fade{id: tab[:id],
                  role: "tabpanel",
                  class: active_tab == "##{tab[:id]}" ? "show active" : ""}
      = render tab[:partial], song_groups: tab[:data], **tab.fetch(:options, {})