-provide :title, @song.title
-provide :bg, "pexels-photo-164821.jpeg"

.row
  .col-sm-6.col-md-8
    %h2=@song.title
    =simple_format @song.description
  .col-sm-6.col-md-4
    %h3{:style => "margin: 5px 0;"}
      %span.glyphicon.glyphicon-calendar
      Performance Dates
    -@song.performances.each do |performance|
      %br
      =performance.date.strftime("%b %e, %Y")
      -if performance.date.future?
        %span.date
          \-
          %em= "Coming Soon"
      =simple_format performance.details
      -unless performance.audio.blank?
        %audio{:controls => "controls",
               :controlsList => "nodownload"}
          %source{:type => performance.audio_content_type,
                  :src => performance.audio.url }
.row{:style => "margin-top: 20px;"}
  .col-md-8
    %h2 Parts
    Click on "Downloads" to the right of each part to find the Sheet Music,
    MP3, or MIDI files for that part.
    -@song.instruments.each do |instrument|
      .song-listing
        .clearfix
          %h3.pull-left=instrument.name
          - unless instrument.pdf_blob.nil? && instrument.mp3_blob.nil? && instrument.midi_blob.nil?
            .dropdown.pull-right
              %button{ :class => "btn btn-secondary dropdown-toggle",
                       :type => "button",
                       :id => "downloads#{instrument.id}",
                       :data => { toggle: "dropdown" },
                       :aria => { haspopup: "true",
                                  expanded: "true" } }
                Downloads
                %span.caret
              %ul.dropdown-menu{:aria => { labelledby: "downloads#{instrument.id}" } }
                - unless instrument.pdf_blob.nil?
                  %li
                    %a{:href => instrument.pdf_blob.service_url,
                       :target => "_blank" }
                      Sheet Music - PDF
                -if !instrument.pdf_blob.nil? && ( !instrument.mp3_blob.nil? || !instrument.midi_blob.nil? )
                  %li.divider{:role => "separator"}
                - unless instrument.mp3_blob.nil?
                  %li
                    %a{:href => instrument.mp3_blob.service_url,
                       :target => "_blank" }
                      Audio File - MP3
                -unless instrument.midi_blob.nil?
                  %li
                    %a{:href => instrument.midi_blob.service_url,
                       :target => "_blank" }
                      Audio File - MIDI
        -unless instrument.mp3_blob.nil?
          .row
            .col-xs-10.col-sm-11
              %audio{:controls     => "controls",
                     :controlsList => "nodownload",
                     :id           => "audio-#{instrument.name.parameterize}",
                     :data         => { repeat: false },
                     :onended      => "replay(this)"}
                %source{:type => instrument.mp3_blob.content_type,
                        :src  => instrument.mp3_blob.service_url}
            .col-xs-2.col-sm-1
              %button{ :class => "btn btn-default btn-repeat",
                       :data  => { id: "audio-#{instrument.name.parameterize}" },
                       :style => "margin-top: 20px;",
                       :title => "Toggle to loop audio continuously" }
                %span.glyphicon.glyphicon-refresh
  .col-md-4
    %h2 Rehearsals
    -if @song.rehearsals.any?
      .row
        -@song.rehearsals.each do |rehearsal|
          .col-sm-4.col-md-12
            =render rehearsal
    -else
      %p No rehearsals yet.
:javascript
  $(".btn-repeat").on("click", function(){
    var id = $(this).data("id");
    $(this).toggleClass("active");
    $("audio#" + id).data("repeat", $(this).hasClass("active"));
  });

  function replay(audio){
    if( $(audio).data("repeat") ){
      $(audio)[0].play();
    }
  }