:ruby
  links = [{name: "Main Site", path: root_path, controller: nil},
           {name: "Dashboard", path: admin_index_path, controller: "admin"},
           {name: "Members", path: admin_members_path, controller: "members"},
           {name: "Profiles", path: admin_profiles_path, controller: "profiles"}]
  dropdowns = { music: %w[songs rehearsals performances],
                news: %w[articles categories tags] }

%header.d-flex.align-items-center
  %nav.navbar.navbar-expand-lg.navbar-dark.w-100
    .container-fluid
      .navbar-header
        =link_to admin_index_path, :class => "navbar-brand text-white" do
          Cascade Sixth Choir
        %button{ :type => "button",
                 :class => "navbar-toggler",
                 :data => { "bs-toggle": "collapse",
                            "bs=target": "#admin-menu" },
                 :aria => { controls: "admin-menu",
                            expanded: false,
                            label: "Toggle navigation" } }
          %span.navbar-toggler-icon
      #admin-menu.collapse.navbar-collapse.mb-2.mb-lg-0
        %ul.navbar-nav.ms-auto
          - links.each do |link|
            %li.nav-item
              = link_to link[:name],
                        link[:path],
                        class: "nav-link#{' active' if link[:controller] == controller_name}"
          %li.nav-item
            =link_to admin_messages_path,
                     class: "nav-link#{' active' if controller_name == 'messages'}"do
              Messages
              = unread_message_badge
          - dropdowns.each do |name, resources|
            %li.nav-item.dropdown
              =link_to "#",
                       class:"nav-link dropdown-toggle#{' active' if resources.include?(controller_name)}",
                       data: {"bs-toggle": "dropdown"},
                       role: "button",
                       aria: {expanded: "false"} do
                = name.to_s.titleize
              %ul.dropdown-menu
                - resources.each do |resource|
                  %li
                    =link_to public_send("admin_#{resource}_path"), class: "dropdown-item" do
                      = resource.titleize
          %li.nav-item
            =link_to 'Logout',
                     destroy_user_session_path,
                     method: :delete,
                     class: "nav-link"