!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", 
          :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title Cascade 6th Ward Choir Music
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render "layouts/title"
    .container
      .breadcrumbs
        = render_breadcrumbs :tag => :span, :seperator => " >> "
      = yield
